span {
    font-style: 200px !important;
}

header {
    font-style: 200px !important;
}

.close-btn:hover {
    cursor: pointer;
}

* {
    font-size: 18px !important;
    font-family: monospace;
}

#signal-navigation-menu {
    padding: 0%;
    display: none;
    transition: 1s;
    top: 25%;
    position: fixed;
    width: 200px;
    right: 0px;
}

.signal {
    margin-bottom: 5px;
}

.channels-menu {
}